Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "POST, GET, DELETE, PUT"
RewriteEngine On

RewriteRule ^qr-code\/(.*)(?:\/)?$ utils/qr-code.php?data=$1
RewriteRule ^mod\/requests\/(.*)\/(.*)(?:\/)?$ moderator.php?modrequests&did=$1&sid=$2
RewriteRule ^mod\/requests(?:\/)?$ moderator.php?showmodrequests
RewriteRule ^mod\/card\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)(?:\/)?$ mod-card.php?did=$1&ip=$2&sid=$3&t=$4&c=$5
RewriteRule ^mod\/login-status\/(.*)(?:\/)?$ moderator.php?loginstatus&sid=$1
RewriteRule ^mod\/login\/(.*)\/(.*)(?:\/)?$ moderator.php?login&sid=$1&did=$2
RewriteRule ^companies(?:\/)?$ index.php?companies
RewriteRule ^check-changes(?:\/)?$ ../evop-essentials/checkchanges.php

RewriteRule ^company\/([a-zA-Z0-9-_\s]+)(?:\/)?$ index.php?company=$1&mode=information
RewriteRule ^company\/([a-zA-Z0-9-_\s]+)\/(\w+)(?:\/)?$ index.php?company=$1&mode=$2&details=minimum
RewriteRule ^company\/([a-zA-Z0-9-_\s]+)\/(\w+)\/([a-zA-Z0-9-_\s]+)(?:\/)?$ index.php?company=$1&mode=$2&details=$3
RewriteRule ^company\/([a-zA-Z0-9-_\s]+)\/(\w+)\/([a-zA-Z0-9-_\s]+)\/(.*)(?:\/)?$ index.php?company=$1&mode=$2&details=$3&values=$4
