@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Light'), local('Roboto-Light'),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local('Roboto Black'), local('Roboto-Black'),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local('Inria Sans Light Italic'), local('InriaSans-LightItalic'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptRRTiqXYfZMCOiVj9kQ1OzAgQlPrQ.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Inria Sans Italic'), local('InriaSans-Italic'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptROTiqXYfZMCOiVj9kQ1Oz4LQ.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Inria Sans Bold Italic'), local('InriaSans-BoldItalic'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptRRTiqXYfZMCOiVj9kQ1OzAkQ5PrQ.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Inria Sans Light'), local('InriaSans-Light'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3ELaDQs.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inria Sans Regular'), local('InriaSans-Regular'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptRMTiqXYfZMCOiVj9kQ5O4.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Inria Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Inria Sans Bold'), local('InriaSans-Bold'),
		url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3FLdDQs.ttf)
			format('truetype');
}
@font-face {
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Lexend Deca Regular'), local('LexendDeca-Regular'),
		url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ6qg.ttf)
			format('truetype');
}
:root {
	--mdc-theme-primary: #67809f;
	--mdc-theme-on-primary: #e8ecf1;
	--mdc-theme-secondary: #95a5a6;
	--mdc-theme-on-secondary: #2e3131;
	--mdc-theme-surface: #fff;
	--mdc-theme-on-surface: #2e3131;
	--mdc-theme-background: #000;
	--mdc-theme-on-background: #eee;
}
body {
	background: var(--mdc-theme-background);
	color: var(--mdc-theme-on-background);
	margin: 0;
}
* {
	box-sizing: border-box;
}
:root {
	--device-max-width: 786px;
}
#app {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	#landingpageheader {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999;
		display: flex;
		width: 100%;
		height: 80px;
		flex-direction: row;
		background: var(--mdc-theme-background);
		padding: 20px;
		#left,
		#right {
			display: flex;
			width: 100%;
			flex-direction: row;
			height: 100%;
			align-self: center;
		}
		#left {
			justify-content: flex-start;
			#logo {
				display: flex;
				height: 100%;
				img {
					display: flex;
					width: auto;
					height: 100%;
				}
			}
		}
		#right {
			justify-content: flex-end;
			button {
				align-self: flex-end;
				height: 40px;
				background: transparent;
				border: none;
				border-radius: 5px;
				padding: 10px 20px;
				cursor: pointer;
				margin-left: 10px;
				color: white;
				&:hover {
					color: var(--mdc-theme-primary);
				}
			}
		}
	}
	#content {
		position: fixed;
		width: 100%;
		height: 100%;
		padding: 20px;
		padding-top: 80px;
		font-family: 'Roboto';
	}
}
@media only screen and (max-width: var(--device-max-width)) {
	#app {
		position: relative;
		overflow: auto;
	}
	#landingpageheader {
		height: auto;
		flex-direction: column;
	}
	#landingpageheader #left,
	#landingpageheader #right {
		width: 100%;
		height: 40px;
		justify-content: center;
		padding: 0px 5px;
	}
}
