@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Inria Sans Light Italic'), local('InriaSans-LightItalic'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRRTiqXYfZMCOiVj9kQ1OzAgQlPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Inria Sans Italic'), local('InriaSans-Italic'), url(https://fonts.gstatic.com/s/inriasans/v1/ptROTiqXYfZMCOiVj9kQ1Oz4LQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Inria Sans Bold Italic'), local('InriaSans-BoldItalic'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRRTiqXYfZMCOiVj9kQ1OzAkQ5PrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Inria Sans Light'), local('InriaSans-Light'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3ELaDQs.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inria Sans Regular'), local('InriaSans-Regular'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRMTiqXYfZMCOiVj9kQ5O4.ttf) format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inria Sans Bold'), local('InriaSans-Bold'), url(https://fonts.gstatic.com/s/inriasans/v1/ptRPTiqXYfZMCOiVj9kQ3FLdDQs.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ6qg.ttf) format('truetype');
}
:root {
  --mdc-theme-primary: #67809f;
  --mdc-theme-on-primary: #e8ecf1;
  --mdc-theme-secondary: #95a5a6;
  --mdc-theme-on-secondary: #2e3131;
  --mdc-theme-surface: #fff;
  --mdc-theme-on-surface: #2e3131;
  --mdc-theme-background: #e8ecf1;
  --mdc-theme-on-background: #2e3131;
}
body {
  background: var(--mdc-theme-background);
  color: var(--mdc-theme-on-background);
  margin: 0;
}
* {
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
}
#landingpageheader {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: row;
  background: var(--mdc-theme-background);
  padding: 20px;
}
#landingpageheader #left,
#landingpageheader #right {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;
  align-self: center;
}
#landingpageheader #left #logo {
  display: flex;
  height: 100%;
}
#landingpageheader #left #logo img {
  display: flex;
  width: auto;
  height: 100%;
}
#landingpageheader #left {
  justify-content: flex-start;
}
#landingpageheader #right {
  justify-content: flex-end;
}
#landingpageheader #right button {
  align-self: flex-end;
  height: 40px;
  background: transparent;
  color: var(--mdc-theme-on-surface);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}
#landingpageheader #right button:hover {
  background-color: var(--mdc-theme-primary);
  color: white;
}
@media only screen and (max-width: 768px) {
  #landingpageheader {
    height: auto;
    flex-direction: column;
  }
  #landingpageheader #left,
  #landingpageheader #right {
    width: 100%;
    height: 40px;
    justify-content: center;
    padding: 0px 5px;
  }
}
#content {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-top: 80px;
  font-family: 'Roboto';
}
#content.full {
  padding-left: 0px;
  padding-right: 0px;
}
#content #landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}
#content #landingpage #inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Lexend Deca', sans-serif;
}
#content #landingpage #inner #title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 50pt;
  font-weight: 900;
  text-align: center;
  max-width: 80%;
  width: auto;
  height: auto;
  padding: 140px 20px;
  transform: font-size 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #content #landingpage #inner #title {
    font-size: 30pt;
  }
}
#content #landingpage #inner #devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  padding-top: 0px;
  justify-content: space-around;
}
#content #landingpage #inner #devices img {
  display: flex;
  align-self: center;
  width: auto;
  max-width: 100%;
  height: auto;
}
#content #landingpage #inner #ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--mdc-theme-primary);
  padding-top: 80px;
  padding-bottom: 80px;
}
#content #landingpage #inner #ideas #ideasinner {
  display: grid;
  flex-direction: row;
  align-items: center;
  width: auto;
  max-width: 90%;
  height: 100%;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 768px) {
  #content #landingpage #inner #ideas #ideasinner {
    grid-template-columns: none;
  }
}
#content #landingpage #inner #ideas #ideasinner .column {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
#content #landingpage #inner #ideas #ideasinner .column .explain {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  border-radius: 3px;
  padding: 20px;
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  margin: 5px;
}
#content #landingpage #inner #ideas #ideasinner .column .explain .box-title {
  display: flex;
  height: auto;
  width: 100%;
  font-size: 23pt;
  font-weight: bold;
  flex-direction: row;
  padding-bottom: 10px;
}
#content #landingpage #inner #ideas #ideasinner .column .explain .box-title.s-middle {
  font-size: 20pt;
}
#content #landingpage #inner #ideas #ideasinner .column .explain .box-subtitle {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 15pt;
  flex-direction: row;
}
#content #landingpage #inner #ideas #ideasinner .column .row {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto;
}
@media only screen and (max-width: 768px) {
  #content #landingpage #inner #ideas #ideasinner .column .row {
    grid-template-columns: none;
  }
}
#content #landingpage #inner #ideas #ideasinner .column .row .box {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 20px;
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  margin: 5px;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box.explain {
  border: none;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .counter {
  width: 100%;
  margin-bottom: 10px;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .counter::before {
  width: 50px;
  height: 50px;
  background-color: var(--mdc-theme-on-primary);
  content: attr(d-c);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 100%;
  font-size: 15pt;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .box-title {
  display: flex;
  height: auto;
  width: 100%;
  font-size: 23pt;
  font-weight: bold;
  flex-direction: row;
  padding-bottom: 10px;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .box-subtitle {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 15pt;
  flex-direction: row;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .box-morelink {
  display: flex;
  height: 65px;
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  flex-direction: row;
  padding: 10px 0px;
}
#content #landingpage #inner #ideas #ideasinner .column .row .box .box-morelink a {
  padding: 10px 15px;
  color: #95a5a6;
  background-color: #2e3131;
  border-radius: 3px;
  text-decoration: none;
}
#content #companies {
  display: flex;
  flex-direction: row;
}
#content #companies #list {
  display: flex;
}
#content #admins {
  flex-direction: row;
  display: flex;
  min-height: 100px;
}
#content #moderators {
  flex-direction: row;
  display: flex;
}
#login {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  border-radius: 5px;
}
#login #loginform {
  display: flex;
  width: 400px;
  height: 300px;
  background: var(--mdc-theme-surface);
  padding: 20px;
  flex-direction: column;
}
#login #loginform .my-custom-form-textinput {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#login #loginform .my-login-submit-button {
  margin-top: 10px;
  align-self: flex-end;
  width: 120px;
}
.my-card,
.my-moderator-card {
  background: var(--mdc-theme-surface);
  color: var(--mdc-theme-on-surface);
  height: auto;
  width: auto;
  min-height: 80px;
  min-width: 160px;
  max-width: 250px;
}
.my-card:not(:first-child),
.my-moderator-card:not(:first-child) {
  margin-left: 20px;
}
.my-moderator-card {
  max-width: 350px;
}
.my-card-content,
.my-moderator-card-content {
  display: block;
  width: 100%;
  padding: 24px;
}
.my-card-label {
  display: block;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
}
.my-moderator-card-device,
.my-moderator-card-ip,
.my-moderator-card-session,
.my-moderator-card-last_login {
  display: flex;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.my-moderator-card-device-label,
.my-moderator-card-ip-label,
.my-moderator-card-session-label,
.my-moderator-card-last_login-label {
  display: flex;
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.my-moderator-card-device-value,
.my-moderator-card-ip-value,
.my-moderator-card-session-value,
.my-moderator-card-last_login-value {
  display: inline-block;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: right;
}
.my-moderator-card-last_login-value {
  font-size: 14px;
}
.my-moderator-card-code-value {
  font-size: 14px;
  font-weight: 500;
}
.my-card-information {
  padding-top: 10px;
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  align-self: start;
  flex-direction: row;
}
.my-card-action-holder {
  align-self: flex-end;
  padding: 15px 10px;
}
.my-moderator-card-action-holder {
  align-self: flex-end;
  align-items: flex-end;
  padding: 15px 20px;
  width: 100%;
}
.my-moderator-card-action-holder .my-moderator-action-code {
  width: 100%;
  display: flex;
  align-self: center;
}
.my-moderator-card-action-holder .my-moderator-action-code .my-moderator-action-code-value {
  display: flex;
  font-weight: 500;
  color: var(--mdc-theme-background);
  opacity: 0.8;
}
.my-moderator-card-action-holder button {
  width: 180px;
  cursor: pointer !important;
}
.my-moderator-card-action-holder button.hidden {
  display: none;
}
.my-moderator-card-action-holder button:not(:first-child) {
  margin-left: 10px;
}
.my-card-action-button {
  font-size: 20px;
  padding: 8px;
  width: auto;
  height: auto;
}
.my-search-textfield {
  display: none;
  width: 300px;
  padding: 10px;
  height: auto;
  font-size: 16px;
  border-radius: 6px;
  background: var(--mdc-theme-surface);
  color: var(--mdc-theme-on-surface);
  border: 1px solid var(--mdc-theme-on-surface);
  margin-right: 10px;
}
.label_title {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--mdc-theme-on-background);
  cursor: default;
}
.label_title .my-label-icon {
  font-size: 22px;
  color: var(--mdc-theme-on-background);
  margin-right: 10px;
  cursor: default;
}
.label_title .my-label {
  font-size: 30px;
  color: var(--mdc-theme-on-background);
  cursor: default;
}
.label_title .my-label-small {
  font-size: 24px;
  color: var(--mdc-theme-on-background);
  cursor: default;
}
.my-add-company-button {
  margin-left: 60px;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  color: var(--mdc-theme-on-primary);
}
#dialogs {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
#dialogs .spacer {
  display: flex;
  width: 100%;
  height: 100%;
}
#dialogs .my-card-label-2 {
  display: block;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: 'Roboto';
  color: var(--mdc-theme-on-surface);
  margin-bottom: 10px;
}
#dialogs .my-card-label-2:not(:first-of-type) {
  margin-top: 20px;
}
#dialogs .my-card-label-error {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: 'Roboto';
  color: orangered;
  margin-bottom: 5px;
  margin-top: 5px;
}
#dialogs .my-card-label-error.hidden {
  display: none;
}
#dialogs .my-card-label-server-issues {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: 'Roboto';
  color: red;
  margin-bottom: 5px;
  margin-top: 5px;
}
#dialogs .my-card-label-server-issues.hidden {
  display: none;
}
#dialogs #settingscompany {
  display: none;
  align-self: center;
  position: relative;
  margin: 0 auto;
  min-width: 250px;
  width: auto;
  max-width: 400px;
  height: 100px;
  padding: 20px;
}
#dialogs #settingscompany .my-companyname-tables-textfield {
  border-bottom: 2px solid var(--mdc-theme-background);
  padding: 15px 10px;
  width: 100px;
  margin-bottom: 40px;
}
#dialogs #settingscompany .my-settings-company-action-bar {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: flex-end;
}
#dialogs #newcompany {
  display: none;
  align-self: center;
  position: relative;
  margin: 0 auto;
  min-width: 250px;
  width: auto;
  max-width: 400px;
  height: 280px;
  padding: 20px;
}
#dialogs #newcompany .my-companyname-textfield {
  border-bottom: 2px solid var(--mdc-theme-background);
  padding: 15px 10px;
}
#dialogs #newcompany .my-card-label-no-text-written-error {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: 'Roboto';
  color: orangered;
  margin-bottom: 5px;
  margin-top: 5px;
}
#dialogs #newcompany .my-card-label-no-text-written-error.hidden {
  display: none;
}
#dialogs #newcompany .my-companyname-tables-textfield {
  border-bottom: 2px solid var(--mdc-theme-background);
  padding: 15px 10px;
  width: 100px;
  margin-bottom: 40px;
}
#dialogs #newcompany .my-new-company-action-bar {
  align-self: flex-end;
}
